<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--連線字串 測試區-->
    <add key="ConnectionString" value="Data Source=. ;Initial Catalog=energydb ;User ID=sa;Password=1qaz@WSX;Trusted_Connection=false;"/>
    <!--連線字串 上線區-->
    
    <!--附件上傳資料夾 測試區-->
    <!--<add key="UploadFileRootDir" value="\\nas-1\intraqas\intertest5u\getds_upd\"/>-->
    <add key="UploadFileRootDir" value="D:\WebUpLoad\Gas_Upload\"/>
    <!--附件上傳資料夾 上線區-->
    <!--<add key="UploadFileRootDir" value="\\nas-1\inter16\sgetds\upload\"/>-->
    
    <!--寄信功能 MailStatus 開啟:open  關閉:close-->
    <add key="MailStatus" value="close"/>
    <add key="MailFrom" value=""/>
    <add key="MailSender" value=""/>
    <add key="SmtpServer" value="mail.itri.org.tw"/>
  </appSettings>
  <system.web>
    <!--資安用-->
    <customErrors mode="Off"/>
    <machineKey decryption="3DES"/>
    <!--資安用-->
    <sessionState mode="InProc" timeout="180"/>
    <pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="4.0"/>
    <httpRuntime executionTimeout="180" maxRequestLength="2147483647"/>
    <!-- requestValidationMode="2.0"-->
    <compilation debug="true" targetFramework="4.6.1"/>
    <!--防止SQLinjection攻擊-->
    <!--<httpModules>
      <add name="AntiSQLinjection" type="AntiSQLinjection" />
    </httpModules>-->
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295"/>
      </requestFiltering>
    </security>
    <!--<modules>
      <add name="AntiSQLinjection" type="AntiSQLinjection"/>
    </modules>-->
  </system.webServer>
</configuration>